<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActionButtons</key>
	<dict>
		<key>SmartechSimpleNotification_CTA1</key>
		<dict>
			<key>type</key>
			<string>Simple</string>
			<key>actionButtonTitle</key>
			<array>
				<string>SimpleYes</string>
			</array>
		</dict>
		<key>SmartechSimpleNotification_CTA2</key>
		<dict>
			<key>type</key>
			<string>Simple</string>
			<key>actionButtonTitle</key>
			<array>
				<string>SimpleYes</string>
				<string>SimpleNo</string>
			</array>
		</dict>
		<key>SmartechSimpleNotification_CTA3</key>
		<dict>
			<key>type</key>
			<string>Simple</string>
			<key>actionButtonTitle</key>
			<array>
				<string>SimpleYes</string>
				<string>SimpleNo</string>
				<string>SimpleMay be</string>
			</array>
		</dict>
		<key>SmartechImageNotification_CTA1</key>
		<dict>
			<key>type</key>
			<string>Image</string>
			<key>actionButtonTitle</key>
			<array>
				<string>ImageYes</string>
			</array>
		</dict>
		<key>SmartechImageNotification_CTA2</key>
		<dict>
			<key>type</key>
			<string>Image</string>
			<key>actionButtonTitle</key>
			<array>
				<string>ImageYes</string>
				<string>ImageNo</string>
			</array>
		</dict>
		<key>SmartechImageNotification_CTA3</key>
		<dict>
			<key>type</key>
			<string>Image</string>
			<key>actionButtonTitle</key>
			<array>
				<string>ImageYes</string>
				<string>ImageNo</string>
				<string>ImageMay be</string>
			</array>
		</dict>
		<key>SmartechGifNotification_CTA1</key>
		<dict>
			<key>type</key>
			<string>Gif</string>
			<key>actionButtonTitle</key>
			<array>
				<string>GifYes</string>
			</array>
		</dict>
		<key>SmartechGifNotification_CTA2</key>
		<dict>
			<key>type</key>
			<string>Gif</string>
			<key>actionButtonTitle</key>
			<array>
				<string>GifYes</string>
				<string>GifNo</string>
			</array>
		</dict>
		<key>SmartechGifNotification_CTA3</key>
		<dict>
			<key>type</key>
			<string>Gif</string>
			<key>actionButtonTitle</key>
			<array>
				<string>GifYes</string>
				<string>GifNo</string>
				<string>GifMay be</string>
			</array>
		</dict>
		<key>SmartechAudioNotification_CTA1</key>
		<dict>
			<key>type</key>
			<string>Audio</string>
			<key>actionButtonTitle</key>
			<array>
				<string>AudioYes</string>
			</array>
		</dict>
		<key>SmartechAudioNotification_CTA2</key>
		<dict>
			<key>type</key>
			<string>Audio</string>
			<key>actionButtonTitle</key>
			<array>
				<string>AudioYes</string>
				<string>AudioNo</string>
			</array>
		</dict>
		<key>SmartechAudioNotification_CTA3</key>
		<dict>
			<key>type</key>
			<string>Audio</string>
			<key>actionButtonTitle</key>
			<array>
				<string>AudioYes</string>
				<string>AudioNo</string>
				<string>AudioMay be</string>
			</array>
		</dict>
		<key>SmartechVideoNotification_CTA1</key>
		<dict>
			<key>type</key>
			<string>Video</string>
			<key>actionButtonTitle</key>
			<array>
				<string>VideoYes</string>
			</array>
		</dict>
		<key>SmartechVideoNotification_CTA2</key>
		<dict>
			<key>type</key>
			<string>Video</string>
			<key>actionButtonTitle</key>
			<array>
				<string>VideoYes</string>
				<string>VideoNo</string>
			</array>
		</dict>
		<key>SmartechVideoNotification_CTA3</key>
		<dict>
			<key>type</key>
			<string>Video</string>
			<key>actionButtonTitle</key>
			<array>
				<string>VideoYes</string>
				<string>VideoNo</string>
				<string>VideoMay be</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>